body {
  display: flex;
  margin: 0px;
  flex-direction: row;
}

h1 {
  font-size: 50px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1px, 1fr)); */
  margin-top: 0px;
}
.hey_im {
  font-size: 50px;
}
.chin_song {
  font-size: 100px;
}
.main_video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 500px;
  min-width: 100vw;
  overflow: hidden;
}

.background_video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduction1 {
  font-size: 35px;
}
.introduction2 {
  font-size: 20px;
}
.introduction3 {
  font-size: 20px;
}
.introduction4 {
  font-size: 27px;
}

#content.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}
