<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/main.css" rel="stylesheet" />
    <title>Portfolio</title>
</head>
<body>

    <header class="header">
        <ul class="header_element">
            <li><a href = "../../index.html">About</a></li>
            <li><a href = "resico.html">Resico</a></li>
        </ul>
    </header>


    <p>THiS Is DEmo ahjahahahah</p>
    <img class="linkedinPicture" src="../../assets/images/yingxiang.jpg" alt="yingxiang" />
    <img class="linkedinPicture" src="../../assets/images/brandino.jpg" alt="brandino" />
    <img class="linkedinPicture" src="../../assets/images/paulo.jpg" alt="paulo" />
    <img class="linkedinPicture" src="../../assets/images/chinsong.jpg" alt="chinsong" />
    <img class="linkedinPicture" src="../../assets/images/shelen.jpg" alt="shelen" />
    <img class="linkedinPicture" src="../../assets/images/vainavi.jpg" alt="vainavi" />
    <img class="linkedinPicture" src="../../assets/images/javier.jpg" alt="javier" />
</body>
</html>